.library {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4%;
  }

.library .book-container {
    width: 250px;
    position: relative;
  }
  
  .library .book-container img {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .library .overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .library .book-container:hover .overlay {
    opacity: 1;
  }
  
  .library .overlay button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .library .overlay button:hover {
    background-color: black;
    color: white;
  }

  .library img {
    position: relative; /* Set the book container as the positioning context */
  }
  