body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
}

nav {
  background-color: rgb(88, 88, 7);
  margin: 0;
  padding: 15px 40px 15px 40px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: antiquewhite;
  align-items: center;
}

nav .right {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  margin-right: 30px;
}

nav .right a {
  text-decoration: none;
  color: antiquewhite;
  margin: 40px;
}

.search-icon {
  /* position: relative; */
  width: 15px;
  margin-left: 45px;
  cursor: pointer;
}

.library {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}


.library img {
  width: 20%;
  /* margin: 2%; */
}
